#contact {
  background-color: $secondary-color;
  -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  padding: 15rem 0 10rem 0;
  margin-top: -15rem;
  margin-bottom: -1px;
  color: $white-color;

  @include respond(tab-land) {
    padding: 10rem 0;
    clip-path: none;
    margin-top: 0;
    -webkit-clip-path: none;
  }

  .contact-wrapper {
    margin-top: 3.2rem;
    padding: 0 2rem;
    backface-visibility: hidden;

    &__text {
      margin-bottom: 2.5rem;
    }

    &__text,
    a {
      font-size: 2.4rem;

      // Responsive for contact text
      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }

  .field{
    padding-right:8px;
    float:left;

    @include respond(phone) {
      width:100%;
      padding-right:0;

      label{        
        margin-top:10px;
      }
      input{
        width:100%;
      }
    }
  }

  .checkbox{
    padding-right:0;
    label{
      margin:20px 5px 0 0;
    }
    input{
      color:red;
    }

    @include respond(phone) {
        margin-bottom:-14px;
    }
  }

  label{
    font: 400 13.3333px Arial;   
    @include respond(phone) {
        font-size:16px;        
    } 
  }

  input, textarea{
    background:none;
    outline:0;
    border:2px solid $white-color;
    color:$white-color;
    padding: 0.8rem 1.6rem;
    font: 400 13.3333px Arial;
  }

  .message{
    clear: both;
    padding:20px 0;
  }

  textarea{    
    width:100%;
  }

  button{
    padding-right:1.5rem;
    padding-left:1.5rem;
  }
}
