#proceedings {
    background-color: $primary-color;
    color: $white-color;
    height: 100%;
    border-top: 0px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%);
    padding-bottom: 10%;

    @include respond(tab-land) {
        padding: 10rem 0;
        clip-path: none;
        margin-top: 0;
        -webkit-clip-path: none;
      }
    
    p{
        text-align: left;
    }
}